body {
	/* background: url("../background_image/4.jpg"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.login-design,
.img,
.img-modal {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.login-design {
	/* background: url("../background_image/images.jfif"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.login-design input {
	background-color: transparent;
	outline: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.bold {
	margin-top: 0;
	font-weight: bold;
}
label {
	margin-top: 20px;
}
label.radio {
	cursor: pointer;
}

label.radio input {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	pointer-events: none;
}

label.radio span {
	border: 1px solid rgb(0, 0, 0);
	color: rgb(0, 0, 0);
	width: 100px;
	text-align: center;
	border-radius: 3px;
	margin-top: 10px;
	padding: 10px;
	text-transform: uppercase;
}
/* label.radio:hover span {
	background-color: green;
	border: none;
} */

label.radio input:checked + span {
	border-color: rgba(0, 0, 0, 0.819);
	background-color: green;
	color: #ffffff;
	border: none !important;
}

.correct {
	background-color: green !important;
	color: #ffffff !important;
	font-weight: bold;
	border: none !important;
}
.incorrect {
	background-color: red !important;
	color: #ffffff !important;
	font-weight: bold;
	border: none !important;
}

.ans {
	margin-left: 36px !important;
}

.btn:focus {
	outline: 0 !important;
	box-shadow: none !important;
}

.btn:active {
	outline: 0 !important;
	box-shadow: none !important;
}
.border-radius {
	border-radius: 8px !important;
}

.img-modal {
	/* background: url("../background_image/1.jpg"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.indices {
	width: 20px !important;
	height: 20px !important;
	background: red;
}
.indices:nth-child(1) {
	background-color: #c0fdcc !important;
}

.paginate_button {
	/* background-color: cyan; */
}
.paginate_button a {
	text-decoration: none !important;
	color: rgb(0, 0, 0);
}
.dataTables_info,
.dataTables_filter,
.dataTables_length,
.input-sm {
	color: rgb(0, 0, 0) !important;
}
